.customContainer{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(175px, 225px));
    justify-content: center;
    padding-bottom: 30px;
}

.edit > div{
    cursor: pointer;
}

.noEdit > div{
    cursor: auto;
}

.noEdit > div:hover{
    background-color: initial;
}

.alertInformation{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: 5px;
    text-align: center;
    grid-column: 1/-1;
}
