@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html{
  font-size: 16px;
}

body, #root{
  min-height: 100vh;
  background-color: #F8FFFB;
}

img{
  max-width: 100%;
  display: block;
  object-fit: cover;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: .938rem;
  padding-right: .938rem;
}

button{
  border: none;
  padding: 0.9rem 2.5rem;
  border-radius: 50px;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}
